:root {
  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --main-button-color: #212121;
  --hover-button-color: #2196f3;
  --secondary-hover-button-color: #188ce8;
  --secondary-text-color: #757575;
  --secondary-main-text-color: #ffffff;
  --text-main-color: #000000;
  --header-outline: #ececec;
  --examples-outline: #eeeeee;
  --shadow-main-color: rgba(0, 0, 0, 0.15);
  --shadow-secondary-color: rgba(0, 0, 0, 0.25);
  --team-shadow-main-color: rgba(0, 0, 0, 0.12);
  --team-shadow-secondary-color: rgba(0, 0, 0, 0.2);
  --team-box-shadow: rgba(0, 0, 0, 0.14);
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --buttons-shadow-main-color: rgba(0, 0, 0, 0.1);
  --buttons-shadow-secondary-color: rgba(0, 0, 0, 0.08);
  --svg-button-color: #afb1b8;
  --svg-secondary-button-color: rgba(255, 255, 255, 0.1);
  --background-gradient-color: rgba(47, 48, 58, 0.4);
  --background-secondary-color: rgba(47, 48, 58, 0.8);
  --portfolio-shadow-color: rgba(0, 0, 0, 0.06);
  --portfolio-secondary-shadow-color: rgba(0, 0, 0, 0.16);
  --portfolio-animated-item-color: rgba(33, 150, 243, 0.9);
  --main-duration-time: 250ms;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main-color);
  font-size: 14px;
  line-height: 1.2;
  background-color: var(--main-background-colors);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.global-list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  outline: var(--header-outline) solid 1px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-button-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 26px;
    line-height: 1.1923076923;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 92px;
  }
}
.header-logo--second-part {
  color: var(--text-main-color);
}

.menu-toggle.js-open-menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #212121;
}
@media screen and (min-width: 768px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list__item {
  position: relative;
}
.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-button-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.navigation-list__link:hover, .navigation-list__link:focus, .navigation-list__link.current {
  color: var(--hover-button-color);
}

.address-item {
  padding-top: 31.5px;
  padding-bottom: 31.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.address-item:hover, .address-item:focus {
  color: var(--hover-button-color);
}

.header-address {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .address-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-item {
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.address-item__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .address-item__icon {
    margin-right: 10px;
  }
}

.address-item__icon--first {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .address-item__icon--first {
    width: 16px;
    height: 12px;
  }
}

.address-item__icon--second {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .address-item__icon--second {
    width: 10px;
    height: 16px;
  }
}

.navigation-list__decoration.current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  height: 4px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-button-color);
}

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-gradient-color)), to(var(--background-gradient-color))), url(../images/mobile/banner-bg-480.png);
  background-image: linear-gradient(var(--background-gradient-color), var(--background-gradient-color)), url(../images/mobile/banner-bg-480.png);
  padding-bottom: 118px;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  max-width: 768px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-gradient-color)), to(var(--background-gradient-color))), url(../images/mobile/banner-bg-480@2x.png);
    background-image: linear-gradient(var(--background-gradient-color), var(--background-gradient-color)), url(../images/mobile/banner-bg-480@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .banner {
    min-width: 768px;
    max-width: 1200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-gradient-color)), to(var(--background-gradient-color))), url(../images/tablet/banner-bg-768.png);
    background-image: linear-gradient(var(--background-gradient-color), var(--background-gradient-color)), url(../images/tablet/banner-bg-768.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-gradient-color)), to(var(--background-gradient-color))), url(../images/tablet/banner-bg-768@2x.png);
    background-image: linear-gradient(var(--background-gradient-color), var(--background-gradient-color)), url(../images/tablet/banner-bg-768@2x.png);
  }
}
@media screen and (min-width: 1201px) {
  .banner {
    min-width: 1200px;
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-gradient-color)), to(var(--background-gradient-color))), url(../images/desktop/banner-bg-1600.png);
    background-image: linear-gradient(var(--background-gradient-color), var(--background-gradient-color)), url(../images/desktop/banner-bg-1600.png);
  }
}
@media screen and (min-width: 1201px) and (min-device-pixel-ratio: 2), screen and (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1201px) and (min-resolution: 192dpi), screen and (min-width: 1201px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-gradient-color)), to(var(--background-gradient-color))), url(../images/desktop/banner-bg-1600@2x.png);
    background-image: linear-gradient(var(--background-gradient-color), var(--background-gradient-color)), url(../images/desktop/banner-bg-1600@2x.png);
  }
}

.banner__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-main-text-color);
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .banner__text {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.banner_btn {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--hover-button-color);
  -webkit-box-shadow: 0px 4px 4px var(--shadow-main-color);
          box-shadow: 0px 4px 4px var(--shadow-main-color);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin: 30px auto 0;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-main-text-color);
  cursor: pointer;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.banner_btn:hover, .banner_btn:focus {
  background: var(--secondary-hover-button-color);
  text-shadow: none;
}
@media screen and (min-width: 1200px) {
  .banner_btn {
    width: 216px;
  }
}

.advantages__slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}

.advantages-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    width: 270px;
  }
}

.advantages-item__slogan {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-button-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages-item__slogan {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item__slogan {
    text-align: start;
  }
}

.advantages-item__description {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.advantages-item__logo {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-background-color);
}

@media screen and (max-width: 1199.98px) {
  .boxes {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .boxes {
    padding-top: 0;
  }
  .boxes .slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-button-color);
  }
  .main-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .main-boxes .item {
    width: 370px;
  }
  .main-boxes .item + .item {
    margin-left: 30px;
  }
  .main-boxes .item {
    position: relative;
  }
  .boxes .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-main-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--background-secondary-color);
  }
}
.team {
  background: var(--secondary-background-color);
}

.team .our-team {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}
@media screen and (min-width: 1200px) {
  .team .our-team {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.main-team {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .main-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .main-team .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team .item {
  background: var(--secondary-main-text-color);
  -webkit-box-shadow: 0px 1px 3px var(--team-shadow-main-color), 0px 1px 1px var(--team-box-shadow), 0px 2px 1px var(--team-shadow-secondary-color);
          box-shadow: 0px 1px 3px var(--team-shadow-main-color), 0px 1px 1px var(--team-box-shadow), 0px 2px 1px var(--team-shadow-secondary-color);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team .item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team .item {
    width: 270px;
    margin-bottom: 34px;
  }
}

.team .image {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team .image {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team .image {
    width: 270px;
    height: 260px;
  }
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

.team .info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team .description {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.main-team .svg-icons {
  padding-bottom: 24px;
}

.main-team .svg-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
}

.main-team .svg-icons .svg-item:not(:last-child) {
  margin-right: 10px;
}

.main-team .svg-items .link {
  border-radius: 50%;
  color: var(--svg-button-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.main-team .svg-items .link:hover, .main-team .svg-items .link:focus {
  background-color: var(--hover-button-color);
  color: var(--secondary-main-text-color);
}

.main-team .svg-items .icon {
  fill: currentColor;
}

.customers .slogan {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .customers .slogan {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.customers .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .customers .logos {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.customers .link {
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--svg-button-color);
  border: 1px solid var(--svg-button-color);
  border-radius: 4px;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.customers .link:hover, .customers .link:focus {
  color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}
@media screen and (min-width: 768px) {
  .customers .link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers .link {
    width: 170px;
  }
}

.customers .svg-logo {
  fill: currentColor;
}

.footer {
  background: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-main {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.0833333333;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-button-color);
  display: block;
  margin-bottom: 20px;
}

.footer-logo .second-part {
  color: var(--secondary-main-text-color);
}

.footer .item + .item {
  margin-top: 9px;
}

.footer li a:hover, .footer li a:focus {
  color: var(--hover-button-color);
}

.footer .coordinates {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  text-align: center;
  color: var(--secondary-main-text-color);
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}

.footer .contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  text-decoration: none;
  font-style: normal;
  text-align: center;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}

.footer .contacts-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .contacts-main {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .contacts-main {
    margin-right: 70px;
    padding-bottom: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .socials-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
    margin-right: 93px;
  }
}

.socials-main .slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-main-text-color);
}

.socials-main .svg-items {
  padding-top: 20px;
}

.socials-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.socials-main .svg-items .svg-item:not(:last-child) {
  margin-right: 10px;
}

.socials-main .svg-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  max-width: 206px;
}

.socials-main .svg-items .link {
  border-radius: 50%;
  background-color: var(--svg-secondary-button-color);
  color: var(--secondary-main-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.socials-main .svg-items .link:hover, .socials-main .svg-items .link:focus {
  background-color: var(--hover-button-color);
}

.socials-main .svg-items .icon {
  fill: currentColor;
}

.mailing .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-main-text-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .mailing .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mailing .input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px var(--shadow-main-color));
          filter: drop-shadow(0px 4px 4px var(--shadow-main-color));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: var(--main-background-color);
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
  outline: none;
}
.mailing .input:hover, .mailing .input:focus {
  border-color: var(--hover-button-color);
}
@media screen and (min-width: 768px) {
  .mailing .input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing .input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
  }
}

.mailing .button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--hover-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--secondary-main-text-color);
  fill: var(--secondary-main-text-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px var(--shadow-main-color);
          box-shadow: 0px 4px 4px var(--shadow-main-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.mailing .button:hover, .mailing .button:focus {
  background-color: #188ce8;
}

.mailing .icons {
  margin-left: 10px;
}

.main-buttons {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 326px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .main-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .main-buttons {
    padding-top: 34px;
    margin-bottom: 50px;
  }
}

.main-buttons .button {
  background: var(--secondary-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
  cursor: pointer;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border: none;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.main-buttons .button:hover, .main-buttons .button:focus {
  color: var(--secondary-main-text-color);
  background: var(--hover-button-color);
  -webkit-box-shadow: 0px 3px 1px var(--buttons-shadow-main-color), 0px 1px 2px var(--buttons-shadow-secondary-color), 0px 2px 2px var(--team-shadow-main-color);
          box-shadow: 0px 3px 1px var(--buttons-shadow-main-color), 0px 1px 2px var(--buttons-shadow-secondary-color), 0px 2px 2px var(--team-shadow-main-color);
  border-radius: 4px;
}

.examples .button.current {
  color: var(--secondary-main-text-color);
  background: var(--hover-button-color);
  -webkit-box-shadow: 0px 3px 1px var(--buttons-shadow-main-color), 0px 1px 2px var(--buttons-shadow-secondary-color), 0px 2px 2px var(--team-shadow-main-color);
          box-shadow: 0px 3px 1px var(--buttons-shadow-main-color), 0px 1px 2px var(--buttons-shadow-secondary-color), 0px 2px 2px var(--team-shadow-main-color);
  border-radius: 4px;
}

.main-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.main-examples .item {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main-examples .item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main-examples .item {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .main-examples .description.padding {
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .main-examples .description.padding {
    padding-bottom: 0;
  }
}

.main-examples .item img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .main-examples .item img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main-examples .item img {
    width: 370px;
  }
}

.main-examples .link {
  text-decoration: none;
  display: block;
}

.main-examples .item-text {
  border-bottom: 1px solid var(--examples-outline);
  border-left: 1px solid var(--examples-outline);
  border-right: 1px solid var(--examples-outline);
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

.examples .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-button-color);
}

.examples .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.main-examples .link {
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.main-examples .link:hover, .main-examples .link:focus {
  -webkit-box-shadow: 0px 1px 1px var(--team-shadow-main-color), 0px 4px 4px var(--portfolio-shadow-color), 1px 4px 6px var(--portfolio-secondary-shadow-color);
          box-shadow: 0px 1px 1px var(--team-shadow-main-color), 0px 4px 4px var(--portfolio-shadow-color), 1px 4px 6px var(--portfolio-secondary-shadow-color);
}

.main-examples .animated-text {
  position: relative;
  overflow: hidden;
}

.main-examples .animation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 0 24px;
  background-color: var(--portfolio-animated-item-color);
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}

.main-examples .animation-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--secondary-main-text-color);
}

.main-examples .link:hover .animation-content, .main-examples .link:focus .animation-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.modal {
  padding: 40px;
  width: 450px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: var(--secondary-main-text-color);
  -webkit-box-shadow: 0px 1px 3px var(--team-shadow-main-color), 0px 1px 1px var(--team-box-shadow), 0px 2px 1px var(--team-shadow-secondary-color);
          box-shadow: 0px 1px 3px var(--team-shadow-main-color), 0px 1px 1px var(--team-box-shadow), 0px 2px 1px var(--team-shadow-secondary-color);
  border-radius: 4px;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--team-shadow-secondary-color);
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--buttons-shadow-main-color);
  color: var(--text-main-color);
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--hover-button-color);
}

.modal-close {
  color: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
  display: block;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.modal-label:not(:last-child) {
  margin-bottom: 20px;
}

.modal-label .modal-input {
  height: 40px;
}

.modal-label > input,
.modal-label > textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-label > input {
  padding: 7px 0;
  padding-left: 35px;
  padding-right: 5px;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
  outline: none;
}
.modal-label > input:hover, .modal-label > input:focus {
  border-color: var(--hover-button-color);
}

textarea {
  outline: none;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
textarea:hover, textarea:focus {
  border-color: var(--hover-button-color);
}

.modal-icon {
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}

.modal-label > input:hover ~ .modal-icon,
.modal-label > input:focus ~ .modal-icon,
.modal-icon:hover {
  fill: var(--hover-button-color);
}

.modal-comment {
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}

.modal-label:hover .modal-comment,
.modal-label:focus .modal-comment {
  text-shadow: 0px 4px 4px var(--shadow-secondary-color);
}

.modal-comment {
  display: inline-block;
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal-label > textarea {
  padding: 12px 16px;
  height: 120px;
}
.modal-label > textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-label > textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .modal-label > textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .modal-label > textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .modal-label > textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .modal-label > textarea::placeholder {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.modal-label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal-checkbox-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal-checkbox-link {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--hover-button-color);
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal-comment {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-confirm {
  width: 200px;
  height: 50px;
  background-color: var(--hover-button-color);
  -webkit-box-shadow: 0px 4px 4px var(--shadow-main-color);
          box-shadow: 0px 4px 4px var(--shadow-main-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.185;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: var(--secondary-main-text-color);
  margin-left: 85px;
  cursor: pointer;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: var(--main-timing-function);
          transition-timing-function: var(--main-timing-function);
}
.modal-confirm:hover, .modal-confirm:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .modal-confirm {
    margin-left: 124px;
  }
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-custom {
  height: 19px;
  width: 19px;
  border: 2px solid var(--text-main-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-icon {
  fill: transparent;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.modal-checkbox:checked + .checkbox-custom {
  border-color: var(--hover-button-color);
  background-color: var(--hover-button-color);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 48px 40px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-toggle.js-close-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-toggle.js-close-menu:hover, .menu-toggle.js-close-menu:focus {
  fill: #2196f3;
}

.menu-toggle.close {
  color: currentColor;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-decoration: none;
  padding: 10px;
  color: #212121;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.contacts-mobile__link {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #757575;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.contacts-mobile__link--accent {
  font-size: 34px;
  line-height: 1.1764705882;
  margin-bottom: 32px;
  color: #2196f3;
}

.socials-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.socials-mobile__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 5px;
}
.socials-mobile__item:last-child {
  border: none;
}/*# sourceMappingURL=main.css.map */