.advantages__slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.advantages-item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advantages-item__slogan {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-button-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.advantages-item__description {
  font-size: 14px;
  line-height: calc(24 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.advantages-item__logo {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}
