.banner {
  background-image: linear-gradient(
      var(--background-gradient-color),
      var(--background-gradient-color)
    ),
    url(../images/main-background.jpg);
  padding-bottom: 118px;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;
}

.banner__text {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-main-text-color);
  max-width: 360px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.banner_btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--hover-button-color);
  box-shadow: 0px 4px 4px var(--shadow-main-color);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 30px auto 0;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-main-text-color);
  cursor: pointer;
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);
  &:hover,
  &:focus {
    background: var(--secondary-hover-button-color);
    text-shadow: none;
  }

  @media screen and (min-width: 1200px) {
    width: 216px;
  }
}
