.modal {
  padding: 40px;

  width: 450px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--secondary-main-text-color);
  box-shadow: 0px 1px 3px var(--team-shadow-main-color),
    0px 1px 1px var(--team-box-shadow),
    0px 2px 1px var(--team-shadow-secondary-color);
  border-radius: 4px;
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--team-shadow-secondary-color);
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--buttons-shadow-main-color);
  color: var(--text-main-color);
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);

  &:hover,
  &:focus {
    fill: var(--hover-button-color);
  }
}

.modal-close {
  color: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
  display: block;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: calc(23 / 20);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.modal-label .modal-input {
  height: 40px;
}

.modal-label > input,
.modal-label > textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-label > input {
  padding: 7px 0;
  padding-left: 35px;
  padding-right: 5px;
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);
  outline: none;

  &:hover,
  &:focus {
    border-color: var(--hover-button-color);
  }
}

textarea {
  outline: none;
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);

  &:hover,
  &:focus {
    border-color: var(--hover-button-color);
  }
}

.modal-icon {
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);
}

.modal-label > input:hover ~ .modal-icon,
.modal-label > input:focus ~ .modal-icon,
.modal-icon:hover {
  fill: var(--hover-button-color);
}

.modal-comment {
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);
}

.modal-label:hover .modal-comment,
.modal-label:focus .modal-comment {
  text-shadow: 0px 4px 4px var(--shadow-secondary-color);
}

.modal-comment {
  display: inline-block;
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal-label > textarea {
  padding: 12px 16px;
  height: 120px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
  }
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-checkbox-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 8px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.modal-checkbox-link {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--hover-button-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.modal-comment {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-confirm {
  width: 200px;
  height: 50px;
  background-color: var(--hover-button-color);
  box-shadow: 0px 4px 4px var(--shadow-main-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.185;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--secondary-main-text-color);
  margin-left: 85px;
  cursor: pointer;
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-custom {
  height: 19px;
  width: 19px;
  border: 2px solid var(--text-main-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-icon {
  fill: transparent;
  transition: fill 250ms linear;
}

.modal-checkbox:checked + .checkbox-custom {
  border-color: var(--hover-button-color);
  background-color: var(--hover-button-color);
}
