.team {
  background: var(--secondary-background-color);
}

.team .our-team {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.main-team {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 50px;
  }
}

.main-team .item:not(:last-child) {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}

.team .item {
  background: var(--secondary-main-text-color);
  box-shadow: 0px 1px 3px var(--team-shadow-main-color),
    0px 1px 1px var(--team-box-shadow),
    0px 2px 1px var(--team-shadow-secondary-color);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 34px;
  }
}

.team .image {
  width: 450px;
  height: 460px;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

.team .info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team .description {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.main-team .svg-icons {
  padding-bottom: 24px;
}

.main-team .svg-items {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
}

.main-team {
  & .svg-icons .svg-item:not(:last-child) {
    margin-right: 10px;
  }
}

.main-team .svg-items .link {
  border-radius: 50%;
  color: var(--svg-button-color);
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  transition-duration: var(--main-duration-time);
  transition-timing-function: var(--main-timing-function);

  &:hover,
  &:focus {
    background-color: var(--hover-button-color);
    color: var(--secondary-main-text-color);
  }
}

.main-team .svg-items .icon {
  fill: currentColor;
}
