:root {
  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --main-button-color: #212121;
  --hover-button-color: #2196f3;
  --secondary-hover-button-color: #188ce8;
  --secondary-text-color: #757575;
  --secondary-main-text-color: #ffffff;
  --text-main-color: #000000;
  --header-outline: #ececec;
  --examples-outline: #eeeeee;
  --shadow-main-color: rgba(0, 0, 0, 0.15);
  --shadow-secondary-color: rgba(0, 0, 0, 0.25);
  --team-shadow-main-color: rgba(0, 0, 0, 0.12);
  --team-shadow-secondary-color: rgba(0, 0, 0, 0.2);
  --team-box-shadow: rgba(0, 0, 0, 0.14);
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --buttons-shadow-main-color: rgba(0, 0, 0, 0.1);
  --buttons-shadow-secondary-color: rgba(0, 0, 0, 0.08);
  --svg-button-color: #afb1b8;
  --svg-secondary-button-color: rgba(255, 255, 255, 0.1);
  --background-gradient-color: rgba(47, 48, 58, 0.4);
  --background-secondary-color: rgba(47, 48, 58, 0.8);
  --portfolio-shadow-color: rgba(0, 0, 0, 0.06);
  --portfolio-secondary-shadow-color: rgba(0, 0, 0, 0.16);
  --portfolio-animated-item-color: rgba(33, 150, 243, 0.9);
  --main-duration-time: 250ms;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}